body {
    font-family: Arial, sans-serif;
    margin: 24px;
    padding: 0;
    background-color: #f4f4f4;
}

.container { 
    display: flex;
    padding: 23px;

}
.sidebar {
    flex: 0.2;
    background-color: #fff;
    padding: 10px;
    margin: 0;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar .logo {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.sidebar ul li img {
    margin-right: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.sidebar ul h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.main-content {
    flex: 0.8;
    padding: 40px;
    background-color: #f9f9f9;
    height: 100vh;
    overflow-y: scroll;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 300px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.user-info {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
    line-height: 1.5;
    font-size: regular;



   
}
