.container {
    display: flex;
    height: 100vh;
    color: #333;

}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
  }
  

  .menu li img {
    margin-right: 10px; /* Jarak antara ikon dan teks */
  }
  
  .menu li a {
    text-decoration: none;
    color: #333; /* Warna teks */
  }

.sidebar {
    flex: 0.3;
    background-color: hsl(0, 0%, 96%);
    padding: 30px;
    /* border-radius: 20px; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    /* margin-right: 30px;  */
}
.sidebar .logo {
    text-align: center;
    margin-bottom: 5px;
    
    width: 300px; /* Sesuaikan ukuran yang diinginkan */
     
}
.sidebar.Files{
    text-align: center;
    width: 30px
}  
.create-new {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007aff;
    color: white;   
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;

}
.main-content {
    flex: 2;
    padding: 20px;
    background-color: #f9f9f9; 
    
}
*sampe sini*

/* .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 20px;
} */

.search-bar {
    flex: 0,1;
    display: flex;
    align-items: center;
    gap:100px


}


.search-bar input {
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-right: 10px;
    box-sizing: border-box;
    font-size: 19   px;
} 
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        width: 30%;
    }
 
 .documents-section, .folders-section {
    margin-top: 30px;
    
} 

.documents, .folders {
    display: flex;
    /* justify-content: space-between; */
}

.document, .folder {
    width: 23%;
    text-align: center;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    

}
.welcome-message{
    padding-left: 20px;
    margin-left: 20px 

} 